{
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "selector-class-pattern": null,
    "no-descending-specificity": null,
    "color-function-notation": null,
    "color-function-alias-notation": null,
    "alpha-value-notation": null,
    "shorthand-property-no-redundant-values": null,
    "media-feature-range-notation": null,
    "rule-empty-line-before": null
  }
}
